.main {

   &__content {
   }
}
.content {

   &__text {
      display: inline-block;
      margin: 40px 0px;
      padding: 0px 0px 0px 542px;
   }

   &__blocks {
   }
}
.blocks {
   display: flex;
   gap: 13px;
   flex-wrap: wrap;

   font-style: normal;
   font-weight: 400;
   font-size: 53px;
   line-height: 62px;
   color: #FFFFFF;
   // min-height: 414px;
   background-color: #BEB9FF;
   border-bottom: solid #BEB9FF 5px;

   &>*{
      min-height: 198px;
      background-color: #3ADE4B;
   }

   &__block-one {
      position: relative;
      &::after{
         content: "1";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      flex: 1 1 33.5%;
   }

   &__block-two {
      position: relative;
      &::after{
         content: "2";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      flex: 1 1 65.3%;
   }

   &__block-three {
      position: relative;
      &::after{
         content: "3";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      flex: 1 1 85%;
   }

   &__block-four {
      position: relative;
      &::after{
         content: "4";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      flex: 1 1 13.8%;
   }
}

