.footer {
   background-color: #D87FF6;
   min-height: 100px;
   display: flex;
   align-items: center;
   &__items {
      display: flex;
      align-items: center;
      width: 745px;
      margin: 0px 18.86% 0px 17.5%;
      justify-content: space-between;
      // gap: 175px;
      // &>*:not(:last-child){
      //    margin: 0px 175px 0px 0px;
      // }
   }

   &__item {
      // flex: 1 1 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
   }
}
