.footer {
   background-color: #D87FF6;
   min-height: 100px;
   display: flex;
   align-items: center;
   &__items {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0px 0px 0px 204.5px;
      &>*:not(:last-child){
         margin: 0px 175px 0px 0px;
      }
   }

   &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
   }
}
