.main {

   &__galery {
   }
}
.galery {

   &__text {
      display: inline-block;
      margin: 40px 0px;
      padding: 0px 0px 0px 46.4%;
   }

   &__wrapper {
      width: 95.727%;
      min-height: 248px;
      background-color: #D4FF5A;
      margin: 0 auto;
      border-radius: 30px;
      display: flex;
      align-items: center;
   }

   &__items {
      padding: 0px 25px;
      display: flex;
      width: 100%;

      &>*:not(:last-child){
         margin: 0px 20px 0px 0px;
      }
   }

   &__item {
      width: 198px;
      background: #497957;
      border: 2px solid #00FF4A;
      border-radius: 35px;
      &:hover{
         box-shadow: 2px 5px 10px #497957;
      }

      padding: 0px 0px 18.15% 0px;
   }
}
.text {
}
