.main {

   &__slider {
   }
}
.slider {
   position: relative;
   margin: 40px 0px 0px 0px;
   &__arrows {
   }

   &__arrow-left {
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 70.75px;
      transform: translate(-50%, -50%);
      cursor: pointer;
   }

   &__arrow-right {
      z-index: 100;
      position: absolute;
      top: 50%;
      right: 30.82px;
      transform: translate(-50%, -50%);
      cursor: pointer;
   }

   &__wrapper-main {
      overflow: hidden;
      // width: 1170px;
      width: 100%;
      height: 176px;
      margin: 0 auto;
      @media (max-width: 876px) {
         height: 250px;
      }
   }

   &__wrapper {
   }

   &__items {
      display: flex;
      transition: all 0.8s ease;
   }

   &__item {
      display: flex;
      background-color: #7029CB;
      min-height: 176px;
      &>*{
         margin: 51.75px 0px 0px 0px;
      }
      @media (max-width: 876px) {
         flex-direction: column;
         height: 250px;
      }
   }

   &__content {
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 45px;
      color: #FFFFFF;

      margin: 58.25px 32px 0px 26.38%;

      span {
         margin: 0px 0px 0px 11px;
      }
      @media (max-width: 876px) {
         margin: 58.25px 0px 0px 0px;
         text-align: center;
      }
   }
   &__btn {
      box-shadow: 2px 5px 10px #497957;
      @media (max-width: 876px) {
         margin: 0 auto;
         margin-top: 40px;
      }
   }
}
