.main {

   &__slider {
   }
}
.slider {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #7029CB;
   margin: 40px 0px 0px 0px;
   min-height: 176px;
   &__content {
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 45px;
      color: #FFFFFF;
   }
}
