@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  font-family: "Roboto";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.text {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.btn {
  width: 262px;
  height: 58px;
  padding: 15px 25px;
  background: #FF4B4B;
  border-radius: 25px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

.background {
  background-color: #A6C9FF;
}

._lock {
  overflow: hidden;
}

.wrapper-background::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.header {
  position: relative;
  background: #B47FF7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 148px;
}
.header__burger-content {
  transition: all 0.5s ease;
}
.menu__list {
  margin: 9px 0px 0px 155px;
  display: flex;
}
.menu__list > *:not(:last-child) {
  margin: 0px 60px 0px 0px;
}
.menu__item {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
}
.menu__item:hover {
  text-decoration: underline;
}

.burger-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 451px;
  height: 500px;
  background-color: #A6C9FF;
}
.burger-content__list {
  margin: 33px 0px 0px 64.5px;
}
.burger-content__list > *:not(:last-child) {
  margin: 0px 0px 39px 0px;
}
.burger-content__item {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
}
.burger-content__item a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.burger-content__btn {
  margin: 0 auto;
  margin-top: 55px;
}

.burger {
  cursor: pointer;
  margin: 2px 55.63px 0px 0px;
}
.burger__icon {
  display: block;
  position: relative;
  width: 43px;
  height: 26px;
  z-index: 5;
}
.burger__icon::before {
  content: "";
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.2s ease;
  background-color: #fff;
  top: 0;
}
.burger__icon::after {
  content: "";
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.2s ease;
  background-color: #fff;
  bottom: 0;
}
.burger__icon span {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.2s ease;
  background-color: #fff;
  top: 50%;
  transform: translate(0px, -50%) scale(1);
}
.burger-content._active {
  position: absolute;
  top: -1000px;
  left: 0;
}

.burger__icon._active span {
  transform: translate(0px, -50%) scale(0);
}
.burger__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.burger__icon._active::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}

.slider {
  position: relative;
  margin: 40px 0px 0px 0px;
}
.slider__arrow-left {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 70.75px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.slider__arrow-right {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 30.82px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.slider__wrapper-main {
  overflow: hidden;
  width: 1170px;
  height: 176px;
  margin: 0 auto;
}
.slider__items {
  display: flex;
  transition: all 0.8s ease;
}
.slider__item {
  display: flex;
  background-color: #7029CB;
  min-height: 176px;
}
.slider__item > * {
  margin: 51.75px 0px 0px 0px;
}
.slider__content {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #FFFFFF;
  margin: 58.25px 32px 0px 308.22px;
}
.slider__content span {
  margin: 0px 0px 0px 11px;
}
.slider__btn {
  box-shadow: 2px 5px 10px #497957;
}

.content__text {
  display: inline-block;
  margin: 40px 0px;
  padding: 0px 0px 0px 542px;
}
.blocks {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
  color: #FFFFFF;
  background-color: #BEB9FF;
  border-bottom: solid #BEB9FF 5px;
}
.blocks > * {
  min-height: 198px;
  background-color: #3ADE4B;
}
.blocks__block-one {
  position: relative;
  flex: 1 1 33.5%;
}
.blocks__block-one::after {
  content: "1";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocks__block-two {
  position: relative;
  flex: 1 1 65.3%;
}
.blocks__block-two::after {
  content: "2";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocks__block-three {
  position: relative;
  flex: 1 1 85%;
}
.blocks__block-three::after {
  content: "3";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocks__block-four {
  position: relative;
  flex: 1 1 13.8%;
}
.blocks__block-four::after {
  content: "4";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.galery__text {
  display: inline-block;
  margin: 40px 0px;
  padding: 0px 0px 0px 542px;
}
.galery__wrapper {
  width: 95.727%;
  min-height: 248px;
  background-color: #D4FF5A;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.galery__items {
  padding: 0px 25px;
  display: flex;
  width: 100%;
}
.galery__items > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.galery__item {
  width: 198px;
  background: #497957;
  border: 2px solid #00FF4A;
  border-radius: 35px;
  padding: 0px 0px 18.15% 0px;
}
.galery__item:hover {
  box-shadow: 2px 5px 10px #497957;
}

.popup {
  margin: 40px 0px;
}
.popup__text {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  color: #F3F3F3;
}
.popup__btn {
  margin: 0 auto;
}

.footer {
  background-color: #D87FF6;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.footer__items {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 0px 0px 204.5px;
}
.footer__items > *:not(:last-child) {
  margin: 0px 175px 0px 0px;
}
.footer__item {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #A6C9FF;
}
.modal__close {
  width: 43px;
  height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #497957;
  padding: 8px 15px;
  margin: 15px;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
.modal__close span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.modal._active {
  display: none;
}

.modal__inner._active {
  display: none;
}